{{#if mobileInputVisible}}
    {{input class="native-input number-input" value=desktopValue type="number" disabled=disabled placeholder=placeholder}}
{{else}}
    <span {{action 'inputClicked'}}>{{input class="desktop-input" value=desktopValue disabled=disabled placeholder=placeholder}}</span>
{{/if}}
