{{#if mobileInputVisible}}
    {{input class="native-input number-input" value=desktopValue type="number"}}
{{else}}
    <span {{action 'inputClicked'}}>{{input class="desktop-input" value=desktopValue disabled=disabled}}</span>
{{/if}}
