{{#if mobileInputVisible}}
    {{input class="native-input number-input" value=value type="number"}}
{{else}}
    <span {{action 'inputClicked'}}>{{input class="desktop-input" value=value disabled=disabled}}</span>
{{/if}}